.faqanswer p {
  font-size: 16px;
  line-height: 1.5;
}

.faqanswer ul {
  list-style-type: disc;
  padding-left: 15px;
  padding-top: 5px;
}

.faqanswer li {
  margin-bottom: 8px;
}

.faqanswer code {
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
}

.faqanswer a {
  color: #016ae6 !important;
}
