.page {
  max-width: 1216px;
  margin: 48px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

@media (max-width: 882px) {
  .page {
    gap: 50px;
  }
}

.footer {
  border-top: 1px solid #dce2ea;
  background: #fff;
}

.footerInner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  max-width: 1216px;
  gap: 64px;
}

.footerLeft {
  display: flex;
  max-width: 384px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.footerText {
  color: #000d3d;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footerTextHover {
  color: rgba(95, 56, 251, 1);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.footerHeading {
  color: #0b1742;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.joinNewsLetter {
  color: #0b1742;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.inputBox {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #b9c5d4;
  background: #fff;
  width: 330px;
}

.inputInner {
  outline: none;
  border: none;
}

.inputInner:focus-visible {
  --tw-ring-shadow: none;
  box-shadow: none;
  --tw-ring-opacity: 1;
  --tw-ring-color: none;
  --tw-ring-offset-width: 0;
  --tw-ring-offset-color: transparent;
}

.footerUpper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.footerLinkSection {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}

.footerMenu {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 1.3rem;
}

.footerLower {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

@media (max-width: 882px) {
  .footerLower {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footerInputSection {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;
  flex-direction: column;
}

.footerInputWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 12px;
}

@media (max-width: 502px) {
  .footerInputWrapper {
    flex-direction: column;
    align-items: normal;
  }
}

.footerInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.signBtn {
  display: flex;
  height: 50px;
  min-width: 40px;
  min-height: 40px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #5f38fb;
  color: #ffff;
}
