.page {
  max-width: 1216px;
  margin: 24px auto;
}
.footerInner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  max-width: 1216px;
  gap: 64px;
}

.footerLeft {
  display: flex;
  max-width: 384px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.footerText {
  color: #0b1742;
  font-size: 16px;
  font-weight: 300;
}

.footerTextHover {
  color: rgba(95, 56, 251, 1);
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.footerHeading {
  color: #0b1742;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.joinNewsLetter {
  color: #0b1742;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.inputBox {
  display: flex;
  min-width: 592px;
  height: 72px;
  padding: 24px 12px 24px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 13, 61, 0.2);
}

.inputBox {
  display: flex;
  min-width: 592px;
  height: 72px;
  padding: 24px 12px 24px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 13, 61, 0.2);
}

@media (max-width: 1024px) {
  .inputBox {
    min-width: 350px;
  }
}

@media (max-width: 768px) {
  .inputBox {
    width: 100%;
  }
}

.inputInner {
  outline: none;
  border: none;
}

.inputInner:focus-visible {
  --tw-ring-shadow: none;
  box-shadow: none;
  --tw-ring-opacity: 1;
  --tw-ring-color: none;
  --tw-ring-offset-width: 0;
  --tw-ring-offset-color: transparent;
}
