.gridBox {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #b9c5d4;
  backdrop-filter: blur(35px);
  flex-direction: column;
  align-items: flex-start;
  width: 209px;
  cursor: pointer;
  color: #000d3d;
}

.hoverGridBox {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #b9c5d4;
  backdrop-filter: blur(35px);
  flex-direction: column;
  align-items: flex-start;
  background: #efebff;
  width: 209px;
  cursor: pointer;
  color: #5f38fb;
}

:is(html[class~="dark"] .gridBox) {
  background-color: #2c2e38;
  border: none;
  color: #e9e9ea;
}

:is(html[class~="dark"] .hoverGridBox) {
  background-color: #363841;
  border: none;
  color: #bfaffd;
}
