.page {
  max-width: 1216px;
  margin: 24px auto;
}

.footerPage {
  background-image: url("../src/svgs/mobile/footer_left_bottom.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 150px;
}

.mainTitle {
  color: #000d3d;
  font-size: 56px;
  font-weight: 400;
}

.subTitle {
  color: #000d3d;
  font-size: 32px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .footerPage {
    padding: 24px;
  }

  .mainTitle {
    color: #000d3d;
    font-size: 32px;
    font-weight: 400;
  }

  .subTitle {
    color: #000d3d;
    font-size: 24px;
    font-weight: 400;
  }
}

.description {
  color: rgba(11, 23, 66, 0.8);
  font-size: 18px;
  font-weight: 300;
}

.guideBox {
  padding: 24px;
  border-radius: 16px;
  background-color: rgba(176, 190, 206, 0.2);
  backdrop-filter: blur(35px);
}

.hoverGuideBox {
  padding: 24px;
  border-radius: 16px;
  background-color: rgba(126, 190, 206, 0.2);
  background: linear-gradient(
    134deg,
    rgba(133, 102, 255, 0.2) 16.16%,
    rgba(95, 56, 251, 0.3) 55.86%,
    rgba(95, 56, 251, 0.4) 78.77%
  );
  box-shadow: 10px 10px 30px 0px rgba(95, 56, 251, 0.3);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.startGuides {
  display: flex;
  flex-grow: 1;
  margin-top: 24px;
}

.startGuideText {
  color: #000d3d;
  font-size: 18px;
  font-weight: 400;
  margin-top: -16px;
}

.viewMore {
  color: #5f38fb;
  font-size: 18px;
  font-weight: 500;
  text-decoration-line: underline;
}

.docsLogo {
  width: 214.072px;
  height: 24px;
}

.startGuideIcon {
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}
