.page {
  max-width: 1116px;
  margin: 24px auto;
}

.footerPage {
  background-image: url("../src/svgs/mobile/footer_left_bottom.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
}

.mainTitle {
  color: #000d3d;
  font-size: 42px;
  font-weight: 400;
}

.subTitle {
  color: #000d3d;
  font-size: 32px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .footerPage {
    padding: 24px;
  }

  .mainTitle {
    color: #000d3d;
    font-size: 32px;
    font-weight: 400;
  }

  .subTitle {
    color: #000d3d;
    font-size: 24px;
    font-weight: 400;
  }
}

.description {
  color: rgba(11, 23, 66, 0.8);
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 12px;
}

.startGuides {
  margin-top: 24px;
}

.startGuideText {
  padding: 10px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #000d3d;
  font-size: 18px;
  font-weight: 400;
}

.viewMore {
  color: #5f38fb;
  font-size: 18px;
  font-weight: 500;
  text-decoration-line: underline;
}

.docsLogo {
  width: 214.072px;
  height: 24px;
}

.startGuideIcon {
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}
