.guideBox {
  padding: 24px;
  border-radius: 16px;
  background-color: rgba(176, 190, 206, 0.2);
}

.hoverGuideBox {
  padding: 24px;
  border-radius: 16px;
  background: linear-gradient(
    134deg,
    rgba(133, 102, 255, 0.2) 16.16%,
    rgba(95, 56, 251, 0.3) 55.86%,
    rgba(95, 56, 251, 0.4) 78.77%
  );
  box-shadow: 10px 10px 30px 0px rgba(95, 56, 251, 0.3);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.tabsTopContainer {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  gap: 10px;
}

.productIcon {
  max-width: 32px;
  max-height: 32px;
}

.productOuterBox {
  display: flex;
  padding: 11px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #eafcf1;
}

.productsHeading {
  color: rgba(0, 13, 61, 0.8);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.productDescripton {
  color: #73879e;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}

.productWrap {
  display: flex;
  max-width: 54px;
  max-height: 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f3f5f8;
  padding: 11px;
}

.productHover {
  background: #efebff;
  display: flex;
  max-width: 54px;
  max-height: 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  padding: 11px;
}
