.box {
  padding: 24px;
  border-radius: 16px;
  background-color: rgba(176, 190, 206, 0.2);
}

.tabsTopContainer {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  padding: 8px;
  gap: 10px;
}

.productIcon {
  width: 32px;
  height: 32.281px;
  flex-shrink: 0;
  margin-right: 8px;
}