@tailwind base;
@tailwind components;
@tailwind utilities;

@import './hamburger.css';
@import './typesetting-article.css';

html {
  @apply nx-antialiased nx-text-base;
  font-feature-settings:
    'rlig' 1,
    'calt' 1,
    'ss01' 1;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply nx-w-full nx-bg-white dark:nx-bg-dark dark:nx-text-gray-100;
}

a,
summary,
button,
input,
[tabindex]:not([tabindex='-1']) {
  @apply nx-outline-none;
  &:focus-visible {
    @apply nx-ring-2 nx-ring-primary-200 nx-ring-offset-1 nx-ring-offset-primary-300 dark:nx-ring-primary-800 dark:nx-ring-offset-primary-700;
  }
}

a,
summary {
  @apply nx-rounded;
}

.nextra-content {
  @apply nx-text-slate-700 dark:nx-text-slate-200;
}

@media (max-width: 767px) {
  .nextra-sidebar-container {
    @apply nx-fixed nx-pt-[calc(var(--nextra-navbar-height))] nx-top-0 nx-w-full nx-bottom-0 nx-z-[15] nx-overscroll-contain nx-bg-white dark:nx-bg-dark;
    transition: transform 0.8s cubic-bezier(0.52, 0.16, 0.04, 1);
    will-change: transform, opacity;
    contain: layout style;
    backface-visibility: hidden;

    & > .nextra-scrollbar {
      mask-image: linear-gradient(to bottom, transparent, #000 20px),
        linear-gradient(to left, #000 10px, transparent 10px);
    }
  }

  .nextra-banner-container ~ div {
    .nextra-sidebar-container {
      @apply nx-pt-[6.5rem];
    }
    &.nextra-nav-container {
      @apply nx-top-10 md:nx-top-0;
    }
  }
  .nextra-banner-hidden {
    .nextra-banner-container ~ div .nextra-sidebar-container {
      @apply nx-pt-16;
    }
    .nextra-nav-container {
      @apply !nx-top-0;
    }
  }
  .nextra-search .excerpt {
    @apply nx-overflow-hidden nx-text-ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

@media (prefers-reduced-motion: reduce) and (max-width: 767px) {
  article:before,
  .nextra-sidebar-container,
  .nextra-sidebar-container.open,
  body.resizing .nextra-sidebar-container {
    @apply nx-transition-none;
  }
}

/* Content Typography */
article details > summary {
  &::-webkit-details-marker {
    @apply nx-hidden;
  }
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd' /%3E%3C/svg%3E");
    height: 1.2em;
    width: 1.2em;
    vertical-align: -4px;
  }
}

@media (min-width: 768px) {
  .nextra-toc > .div,
  .nextra-sidebar-container {
    mask-image: linear-gradient(to bottom, transparent, #000 20px),
      linear-gradient(to left, #000 10px, transparent 10px);
  }
}

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .nextra-search ul {
    @apply nx-backdrop-blur-lg nx-bg-white/70 dark:nx-bg-dark/80;
  }
  .nextra-nav-container-blur {
    @apply nx-backdrop-blur-md nx-bg-white/[.85] dark:!nx-bg-dark/80;
  }
}

input[type='search'] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

.contains-task-list {
  @apply nx-ml-0 nx-list-none;
  input[type='checkbox'] {
    @apply nx-mr-1;
  }
}

.nextra-banner-hidden .nextra-banner-container {
  @apply nx-hidden;
}

.nextra-sidebar-container {
  [data-toggle-animation='show'] button {
    opacity: 0;
    animation: nextra-fadein 1s ease 0.2s forwards;
  }
  [data-toggle-animation='hide'] button {
    opacity: 0;
    animation: nextra-fadein2 1s ease 0.2s forwards;
  }
}

@keyframes nextra-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nextra-fadein2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.nx-sr-only{clip:rect(0,0,0,0);white-space:nowrap;border-width:0;width:1px;height:1px;margin:-1px;padding:0;position:absolute;overflow:hidden}
.nx-pointer-events-none{pointer-events:none}
.nx-invisible{visibility:hidden}
.nx-fixed{position:fixed}
.nx-absolute{position:absolute}
.nx-relative{position:relative}
.nx-sticky{position:-webkit-sticky;position:sticky}
.nx-inset-0{top:0;bottom:0;left:0;right:0}
.nx-inset-x-0{left:0;right:0}
.nx-inset-y-0{top:0;bottom:0}
.nx-bottom-0{bottom:0}
.nx-right-0{right:0}
.nx-top-0{top:0}
.nx-top-16{top:4rem}
.nx-top-8{top:2rem}
.nx-top-full{top:100%}
.nx-z-10{z-index:10}
.nx-z-20{z-index:20}
.nx-z-\[-1\]{z-index:-1}
.nx-z-\[1\]{z-index:1}
.nx-order-last{order:9999}
.nx-m-0{margin:0}
.nx-m-\[11px\]{margin:11px}.-nx-mx-6{margin-left:-1.5rem;margin-right:-1.5rem}
.nx-mx-2{margin-left:.5rem;margin-right:.5rem}
.nx-mx-2\.5{margin-left:.625rem;margin-right:.625rem}
.nx-mx-4{margin-left:1rem;margin-right:1rem}
.nx-mx-auto{margin-left:auto;margin-right:auto}
.nx-my-1{margin-top:.25rem;margin-bottom:.25rem}
.nx-my-1\.5{margin-top:.375rem;margin-bottom:.375rem}
.nx-my-2{margin-top:.5rem;margin-bottom:.5rem}
.nx-my-4{margin-top:1rem;margin-bottom:1rem}
.nx-my-8{margin-top:2rem;margin-bottom:2rem}.-nx-mb-0{margin-bottom:0}.-nx-mb-0\.5{margin-bottom:-.125rem}.-nx-ml-2{margin-left:-.5rem}.-nx-mr-2{margin-right:-.5rem}.-nx-mt-20{margin-top:-5rem}
.nx-mb-12{margin-bottom:3rem}
.nx-mb-2{margin-bottom:.5rem}
.nx-mb-4{margin-bottom:1rem}
.nx-mb-8{margin-bottom:2rem}
.nx-ml-1{margin-left:.25rem}
.nx-ml-2{margin-left:.5rem}
.nx-ml-4{margin-left:1rem}
.nx-mr-2{margin-right:.5rem}
.nx-mt-1{margin-top:.25rem}
.nx-mt-1\.5{margin-top:.375rem}
.nx-mt-10{margin-top:2.5rem}
.nx-mt-12{margin-top:3rem}
.nx-mt-16{margin-top:4rem}
.nx-mt-2{margin-top:.5rem}
.nx-mt-4{margin-top:1rem}
.nx-mt-5{margin-top:1.25rem}
.nx-mt-6{margin-top:1.5rem}
.nx-mt-8{margin-top:2rem}
.nx-block{display:block}
.nx-inline-block{display:inline-block}
.nx-inline{display:inline}
.nx-flex{display:flex}
.nx-inline-flex{display:inline-flex}
.nx-grid{display:grid}
.nx-hidden{display:none}
.nx-h-0{height:0}
.nx-h-4{height:1rem}
.nx-h-5{height:1.25rem}
.nx-h-7{height:1.75rem}
.nx-h-8{height:2rem}
.nx-h-\[18px\]{height:18px}
.nx-h-\[var\(--nextra-banner-height\)\]{height:var(--nextra-banner-height)}
.nx-h-\[var\(--nextra-navbar-height\)\]{height:var(--nextra-navbar-height)}
.nx-h-full{height:100%}
.nx-max-h-64{max-height:16rem}
.nx-max-h-\[calc\(100vh-var\(--nextra-navbar-height\)-env\(safe-area-inset-bottom\)\)\]{max-height:calc(100vh - var(--nextra-navbar-height) - env(safe-area-inset-bottom))}
.nx-max-h-\[min\(calc\(50vh-11rem-env\(safe-area-inset-bottom\)\)\,400px\)\]{max-height:min(calc(50vh - 11rem - env(safe-area-inset-bottom)),400px)}
.nx-min-h-\[100px\]{min-height:100px}
.nx-min-h-\[calc\(100vh-var\(--nextra-navbar-height\)\)\]{min-height:calc(100vh - var(--nextra-navbar-height))}
.nx-w-3{width:.75rem}
.nx-w-3\.5{width:.875rem}
.nx-w-4{width:1rem}
.nx-w-5{width:1.25rem}
.nx-w-64{width:16rem}
.nx-w-8{width:2rem}
.nx-w-full{width:100%}
.nx-w-max{width:-webkit-max-content;width:max-content}
.nx-w-screen{width:100vw}
.nx-min-w-0{min-width:0}
.nx-min-w-\[18px\]{min-width:18px}
.nx-min-w-\[24px\]{min-width:24px}
.nx-min-w-full{min-width:100%}
.nx-max-w-6xl{max-width:72rem}
.nx-max-w-\[50\%\]{max-width:50%}
.nx-max-w-\[90rem\]{max-width:90rem}
.nx-max-w-\[min\(calc\(100vw-2rem\)\,calc\(100\%\+20rem\)\)\]{max-width:min(100vw - 2rem,100% + 20rem)}
.nx-shrink-0{flex-shrink:0}
.nx-grow{flex-grow:1}
.nx-origin-\[35\%\]{-webkit-transform-origin:35%;transform-origin:35%}
.nx-origin-center{-webkit-transform-origin:50%;transform-origin:50%}
.nx-rotate-180{--tw-rotate:180deg;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y))rotate(var(--tw-rotate))skewX(var(--tw-skew-x))skewY(var(--tw-skew-y))scaleX(var(--tw-scale-x))scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y))rotate(var(--tw-rotate))skewX(var(--tw-skew-x))skewY(var(--tw-skew-y))scaleX(var(--tw-scale-x))scaleY(var(--tw-scale-y))}
.nx-rotate-90{--tw-rotate:90deg;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y))rotate(var(--tw-rotate))skewX(var(--tw-skew-x))skewY(var(--tw-skew-y))scaleX(var(--tw-scale-x))scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y))rotate(var(--tw-rotate))skewX(var(--tw-skew-x))skewY(var(--tw-skew-y))scaleX(var(--tw-scale-x))scaleY(var(--tw-scale-y))}
.nx-transform-gpu{-webkit-transform:translate3d(var(--tw-translate-x),var(--tw-translate-y),0)rotate(var(--tw-rotate))skewX(var(--tw-skew-x))skewY(var(--tw-skew-y))scaleX(var(--tw-scale-x))scaleY(var(--tw-scale-y));transform:translate3d(var(--tw-translate-x),var(--tw-translate-y),0)rotate(var(--tw-rotate))skewX(var(--tw-skew-x))skewY(var(--tw-skew-y))scaleX(var(--tw-scale-x))scaleY(var(--tw-scale-y))}@-webkit-keyframes nx-spin{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes nx-spin{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
.nx-animate-spin{-webkit-animation:1s linear infinite nx-spin;animation:1s linear infinite nx-spin}
.nx-cursor-default{cursor:default}
.nx-cursor-pointer{cursor:pointer}
.nx-select-none{-webkit-user-select:none;-ms-user-select:none;user-select:none}
.nx-scroll-m-12{scroll-margin:3rem}
.nx-scroll-my-6{scroll-margin-top:1.5rem;scroll-margin-bottom:1.5rem}
.nx-scroll-py-6{scroll-padding-top:1.5rem;scroll-padding-bottom:1.5rem}
.nx-list-decimal{list-style-type:decimal}
.nx-list-disc{list-style-type:disc}
.nx-list-none{list-style-type:none}
.nx-appearance-none{-webkit-appearance:none;-ms-appearance:none;appearance:none}
.nx-flex-col{flex-direction:column}
.nx-flex-wrap{flex-wrap:wrap}
.nx-items-start{align-items:flex-start}
.nx-items-center{align-items:center}
.nx-justify-start{justify-content:flex-start}
.nx-justify-end{justify-content:flex-end}
.nx-justify-center{justify-content:center}
.nx-justify-between{justify-content:space-between}
.nx-gap-1{gap:.25rem}
.nx-gap-2{gap:.5rem}
.nx-gap-4{gap:1rem}
.nx-overflow-auto{overflow:auto}
.nx-overflow-hidden{overflow:hidden}
.nx-overflow-x-auto{overflow-x:auto}
.nx-overflow-y-auto{overflow-y:auto}
.nx-overflow-x-hidden{overflow-x:hidden}
.nx-overflow-y-hidden{overflow-y:hidden}
.nx-overflow-x-scroll{overflow-x:scroll}
.nx-overscroll-contain{overscroll-behavior:contain}
.nx-overscroll-x-contain{overscroll-behavior-x:contain}
.nx-truncate{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.nx-text-ellipsis{text-overflow:ellipsis}
.nx-whitespace-nowrap{white-space:nowrap}
.nx-break-words{overflow-wrap:break-word}
.nx-rounded{border-radius:.25rem}
.nx-rounded-lg{border-radius:.5rem}
.nx-rounded-md{border-radius:.375rem}
.nx-rounded-sm{border-radius:.125rem}
.nx-rounded-xl{border-radius:.75rem}
.nx-rounded-t{border-top-left-radius:.25rem;border-top-right-radius:.25rem}
.nx-rounded-t-xl{border-top-left-radius:.75rem;border-top-right-radius:.75rem}
.nx-border{border-width:1px}
.nx-border-b{border-bottom-width:1px}
.nx-border-b-2{border-bottom-width:2px}
.nx-border-l{border-left-width:1px}
.nx-border-t{border-top-width:1px}
.nx-border-black{--tw-border-opacity:1;border-color:rgba(0,0,0,var(--tw-border-opacity))}
.nx-border-black\/10{border-color:rgba(0,0,0,.1)}
.nx-border-black\/5{border-color:rgba(0,0,0,.05)}
.nx-border-blue-200{--tw-border-opacity:1;border-color:rgba(191,219,254,var(--tw-border-opacity))}
.nx-border-gray-200{--tw-border-opacity:1;border-color:rgba(229,231,235,var(--tw-border-opacity))}
.nx-border-gray-300{--tw-border-opacity:1;border-color:rgba(209,213,219,var(--tw-border-opacity))}
.nx-border-neutral-200\/70{border-color:rgba(229,229,229,.7)}
.nx-border-orange-100{--tw-border-opacity:1;border-color:rgba(255,237,213,var(--tw-border-opacity))}
.nx-border-primary-500{--tw-border-opacity:1;border-color:hsl(var(--nextra-primary-hue)100% 50%/var(--tw-border-opacity))}
.nx-border-red-200{--tw-border-opacity:1;border-color:rgba(254,202,202,var(--tw-border-opacity))}
.nx-border-transparent{border-color:transparent}
.nx-border-yellow-100{--tw-border-opacity:1;border-color:rgba(254,249,195,var(--tw-border-opacity))}
.nx-border-opacity-\[0\.04\]{--tw-border-opacity:.04}
.nx-bg-black{--tw-bg-opacity:1;background-color:rgba(0,0,0,var(--tw-bg-opacity))}
.nx-bg-black\/80{background-color:rgba(0,0,0,.8)}
.nx-bg-black\/\[\.05\]{background-color:rgba(0,0,0,.05)}
.nx-bg-blue-100{--tw-bg-opacity:1;background-color:rgba(219,234,254,var(--tw-bg-opacity))}
.nx-bg-gray-100{--tw-bg-opacity:1;background-color:rgba(243,244,246,var(--tw-bg-opacity))}
.nx-bg-gray-200{--tw-bg-opacity:1;background-color:rgba(229,231,235,var(--tw-bg-opacity))}
.nx-bg-neutral-900{--tw-bg-opacity:1;background-color:rgba(23,23,23,var(--tw-bg-opacity))}
.nx-bg-orange-50{--tw-bg-opacity:1;background-color:rgba(255,247,237,var(--tw-bg-opacity))}
.nx-bg-primary-100{--tw-bg-opacity:1;background-color:hsl(var(--nextra-primary-hue)100% 94%/var(--tw-bg-opacity))}
.nx-bg-primary-50{--tw-bg-opacity:1;background-color:hsl(var(--nextra-primary-hue)100% 97%/var(--tw-bg-opacity))}
.nx-bg-primary-500\/10{background-color:hsl(var(--nextra-primary-hue)100% 50%/.1)}
.nx-bg-primary-700\/5{background-color:hsl(var(--nextra-primary-hue)100% 39%/.05)}
.nx-bg-red-100{--tw-bg-opacity:1;background-color:rgba(254,226,226,var(--tw-bg-opacity))}
.nx-bg-transparent{background-color:transparent}
.nx-bg-white{--tw-bg-opacity:1;background-color:rgba(255,255,255,var(--tw-bg-opacity))}
.nx-bg-yellow-50{--tw-bg-opacity:1;background-color:rgba(254,252,232,var(--tw-bg-opacity))}
.nx-bg-opacity-\[0\.03\]{--tw-bg-opacity:.03}
.nx-p-0{padding:0}
.nx-p-0\.5{padding:.125rem}
.nx-p-1{padding:.25rem}
.nx-p-1\.5{padding:.375rem}
.nx-p-2{padding:.5rem}
.nx-p-4{padding:1rem}
.nx-p-8{padding:2rem}
.nx-px-1{padding-left:.25rem;padding-right:.25rem}
.nx-px-1\.5{padding-left:.375rem;padding-right:.375rem}
.nx-px-2{padding-left:.5rem;padding-right:.5rem}
.nx-px-2\.5{padding-left:.625rem;padding-right:.625rem}
.nx-px-3{padding-left:.75rem;padding-right:.75rem}
.nx-px-4{padding-left:1rem;padding-right:1rem}
.nx-px-6{padding-left:1.5rem;padding-right:1.5rem}
.nx-px-\[\.25em\]{padding-left:.25em;padding-right:.25em}
.nx-py-0{padding-top:0;padding-bottom:0}
.nx-py-0\.5{padding-top:.125rem;padding-bottom:.125rem}
.nx-py-1{padding-top:.25rem;padding-bottom:.25rem}
.nx-py-1\.5{padding-top:.375rem;padding-bottom:.375rem}
.nx-py-12{padding-top:3rem;padding-bottom:3rem}
.nx-py-2{padding-top:.5rem;padding-bottom:.5rem}
.nx-py-2\.5{padding-top:.625rem;padding-bottom:.625rem}
.nx-py-4{padding-top:1rem;padding-bottom:1rem}
.nx-pb-1{padding-bottom:.25rem}
.nx-pb-1\.5{padding-bottom:.375rem}
.nx-pb-4{padding-bottom:1rem}
.nx-pb-8{padding-bottom:2rem}
.nx-pb-\[env\(safe-area-inset-bottom\)\]{padding-bottom:env(safe-area-inset-bottom)}
.nx-pb-px{padding-bottom:1px}
.nx-pl-6{padding-left:1.5rem}
.nx-pl-\[max\(env\(safe-area-inset-left\)\,1\.5rem\)\]{padding-left:max(env(safe-area-inset-left),1.5rem)}
.nx-pr-4{padding-right:1rem}
.nx-pr-\[calc\(env\(safe-area-inset-right\)-1\.5rem\)\]{padding-right:calc(env(safe-area-inset-right) - 1.5rem)}
.nx-pr-\[max\(env\(safe-area-inset-right\)\,1\.5rem\)\]{padding-right:max(env(safe-area-inset-right),1.5rem)}
.nx-pt-1{padding-top:.25rem}
.nx-pt-12{padding-top:3rem}
.nx-pt-4{padding-top:1rem}
.nx-pt-6{padding-top:1.5rem}
.nx-pt-8{padding-top:2rem}
.nx-text-left{text-align:left}
.nx-text-center{text-align:center}
.nx-font-mono{font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace}
.nx-text-2xl{font-size:1.5rem}
.nx-text-3xl{font-size:1.875rem}
.nx-text-4xl{font-size:2.25rem}
.nx-text-\[\.9em\]{font-size:.9em}
.nx-text-\[10px\]{font-size:10px}
.nx-text-base{font-size:1rem}
.nx-text-lg{font-size:1.125rem}
.nx-text-sm{font-size:.875rem}
.nx-text-xl{font-size:1.25rem}
.nx-text-xs{font-size:.75rem}
.nx-font-bold{font-weight:700}
.nx-font-extrabold{font-weight:800}
.nx-font-medium{font-weight:500}
.nx-font-normal{font-weight:400}
.nx-font-semibold{font-weight:600}
.nx-uppercase{text-transform:uppercase}
.nx-capitalize{text-transform:capitalize}
.nx-italic{font-style:italic}
.nx-leading-5{line-height:1.25rem}
.nx-leading-7{line-height:1.75rem}
.nx-leading-\[1\.35rem\]{line-height:1.35rem}
.nx-leading-tight{line-height:1.25}
.nx-tracking-tight{letter-spacing:-.015em}
.nx-text-blue-900{--tw-text-opacity:1;color:rgba(30,58,138,var(--tw-text-opacity))}
.nx-text-current{color:currentColor}
.nx-text-gray-100{--tw-text-opacity:1;color:rgba(243,244,246,var(--tw-text-opacity))}
.nx-text-gray-400{--tw-text-opacity:1;color:rgba(156,163,175,var(--tw-text-opacity))}
.nx-text-gray-500{--tw-text-opacity:1;color:rgba(107,114,128,var(--tw-text-opacity))}
.nx-text-gray-600{--tw-text-opacity:1;color:rgba(75,85,99,var(--tw-text-opacity))}
.nx-text-gray-700{--tw-text-opacity:1;color:rgba(55,65,81,var(--tw-text-opacity))}
.nx-text-gray-800{--tw-text-opacity:1;color:rgba(31,41,55,var(--tw-text-opacity))}
.nx-text-gray-900{--tw-text-opacity:1;color:rgba(17,24,39,var(--tw-text-opacity))}
.nx-text-orange-800{--tw-text-opacity:1;color:rgba(154,52,18,var(--tw-text-opacity))}
.nx-text-primary-600{--tw-text-opacity:1;color:hsl(var(--nextra-primary-hue)100% 45%/var(--tw-text-opacity))}
.nx-text-primary-800{--tw-text-opacity:1;color:hsl(var(--nextra-primary-hue)100% 32%/var(--tw-text-opacity))}
.nx-text-red-500{--tw-text-opacity:1;color:rgba(239,68,68,var(--tw-text-opacity))}
.nx-text-red-900{--tw-text-opacity:1;color:rgba(127,29,29,var(--tw-text-opacity))}
.nx-text-slate-50{--tw-text-opacity:1;color:rgba(248,250,252,var(--tw-text-opacity))}
.nx-text-slate-900{--tw-text-opacity:1;color:rgba(15,23,42,var(--tw-text-opacity))}
.nx-text-yellow-900{--tw-text-opacity:1;color:rgba(113,63,18,var(--tw-text-opacity))}
.nx-underline{text-decoration-line:underline}
.nx-no-underline{text-decoration-line:none}
.nx-decoration-from-font{text-decoration-thickness:from-font}
.nx-subpixel-antialiased{-webkit-font-smoothing:auto;-moz-osx-font-smoothing:auto}
.nx-opacity-0{opacity:0}
.nx-opacity-100{opacity:1}
.nx-opacity-25{opacity:.25}
.nx-opacity-75{opacity:.75}
.nx-opacity-80{opacity:.8}
.nx-shadow{--tw-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);--tw-shadow-colored:0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)}
.nx-shadow-\[0_-12px_16px_\#fff\]{--tw-shadow:0 -12px 16px #fff;--tw-shadow-colored:0 -12px 16px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)}
.nx-shadow-\[0_-12px_16px_white\]{--tw-shadow:0 -12px 16px white;--tw-shadow-colored:0 -12px 16px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)}
.nx-shadow-\[0_2px_4px_rgba\(0\,0\,0\,\.02\)\,0_1px_0_rgba\(0\,0\,0\,\.06\)\]{--tw-shadow:0 2px 4px rgba(0,0,0,.02),0 1px 0 rgba(0,0,0,.06);--tw-shadow-colored:0 2px 4px var(--tw-shadow-color),0 1px 0 var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)}
.nx-shadow-lg{--tw-shadow:0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);--tw-shadow-colored:0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)}
.nx-shadow-sm{--tw-shadow:0 1px 2px 0 rgba(0,0,0,.05);--tw-shadow-colored:0 1px 2px 0 var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)}
.nx-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)}
.nx-shadow-gray-100{--tw-shadow-color:#f3f4f6;--tw-shadow:var(--tw-shadow-colored)}
.nx-ring-1{--tw-ring-offset-shadow:var(--tw-ring-inset)0 0 0 var(--tw-ring-offset-width)var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset)0 0 0 calc(1px + var(--tw-ring-offset-width))var(--tw-ring-color);box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 transparent)}
.nx-ring-black\/5{--tw-ring-color:rgba(0,0,0,.05)}
.nx-transition{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,-webkit-transform,transform,-webkit-filter,filter,-webkit-backdrop-filter,backdrop-filter;transition-duration:.15s;transition-timing-function:cubic-bezier(.4,0,.2,1)}
.nx-transition-all{transition-property:all;transition-duration:.15s;transition-timing-function:cubic-bezier(.4,0,.2,1)}
.nx-transition-colors{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-duration:.15s;transition-timing-function:cubic-bezier(.4,0,.2,1)}
.nx-transition-opacity{transition-property:opacity;transition-duration:.15s;transition-timing-function:cubic-bezier(.4,0,.2,1)}
.nx-transition-transform{transition-property:-webkit-transform,transform;transition-duration:.15s;transition-timing-function:cubic-bezier(.4,0,.2,1)}
.nx-duration-100{transition-duration:.1s}
.nx-duration-200{transition-duration:.2s}
.nx-duration-300{transition-duration:.3s}
.nx-duration-500{transition-duration:.5s}
.nx-duration-75{transition-duration:75ms}
.nx-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}