name: CI

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.10

      - name: Dependencies
        run: |
          pnpm install


      - name: Build
        run: |
          pnpm run build

      - name: Lint
        run: |
          pnpm run lint --if-present

      - name: Formatting
        run: |
          cd ui && npm run fmt:check --if-present