name: Deploy Production

on:
  push:
    branches:
      - release/production

jobs:
  build:
    name: Build Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Gcloud Auth
        uses: google-github-actions/auth@v1
        with:
          credentials_json: "${{ secrets.ORG_PRODUCTION_IMAGES_PUSH }}"

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Set Image Tag
        id: lookup
        run: echo "version=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - run: |
          gcloud auth list
          gcloud auth configure-docker -q
          echo "VERSION: ${{ steps.lookup.outputs.version }}"

      - name: Build and Push Images
        run: |
          ./k8s/build-img.py -p production
        env:
          BACKEND_URL: ${{ secrets.NEXT_PUBLIC_BACKEND_URL }}
          NEXT_PUBLIC_GOOGLE_ANALYTICS_TRACKING_ID: ${{ secrets.NEXT_PUBLIC_GOOGLE_ANALYTICS_TRACKING_ID }}

      - name: Trigger Image Update
        run: |
          curl -H "Accept: application/vnd.github.everest-preview+json" \
          -H "Authorization: token ${{ secrets.ORG_DISPATCH_RENDER_TOKEN }}" \
          --request POST \
          --data '{"event_type": "docs-build", "client_payload": {"image": "${{ env.IMAGE }}", "key_path": "${{ env.KEY_PATH }}", "tag": "${{ env.TAG }}", "commit_message_service": "${{ env.SERVICE_NAME }}"}}' \
          ${{ env.TARGET_REPO }}
        env:
          IMAGE: gcr.io/fetch-ai-images/docs-website
          KEY_PATH: ".website.image.tag"
          TAG: ${{ steps.lookup.outputs.version }}
          SERVICE_NAME: Documentation
          TARGET_REPO: https://api.github.com/repos/fetchai/infra-production-deployment/dispatches
